---
http_interactions:
- request:
    method: get
    uri: http://www.journaltocs.ac.uk/api/journals/15383598?output=articles&user=DUMMY_JOURNAL_TOCS_EMAIL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rdf:RDF xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"
        \r\n         xmlns:prism=\"http://prismstandard.org/namespaces/1.2/basic/\"
        \r\n\t\t\t\t xmlns:dc=\"http://purl.org/dc/elements/1.1/\" \r\n\t\t\t\t xmlns:mn=\"http://usefulinc.com/rss/manifest/\"\r\n\t\t\t\t
        xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" \r\n\t\t\t\t xmlns=\"http://purl.org/rss/1.0/\">\n\n
        \ <channel rdf:about=\"http://www.journaltocs.hw.ac.uk/api/journals\">\r\n
        \   <title>JournalTOCs API - JAMA The Journal of the American Medical Association
        (38 articles)</title>\r\n    <link>http://www.journaltocs.ac.uk/api/journals/15383598</link>\r\n
        \   <description><![CDATA[Your query: 15383598 has returned 38 articles. They
        are listed in alphabetical order per journal (maximum number of returned items
        is 3000).]]></description>\r\n    <dc:publisher>JournalTOCs API</dc:publisher>\r\n
        \   <dc:creator>JOURNALTOCS API PROJECT</dc:creator>\r\n\t\t<dc:coverage>1</dc:coverage>\r\n
        \   <image rdf:resource=\"http://www.journaltocs.ac.uk/images/jtocslogo.gif\"
        />\r\n    <items>\r\n      <rdf:Seq><rdf:li rdf:resource=\"http://jama.jamanetwork.com/article.aspx?articleID=2429716\"
        />\n<rdf:li rdf:resource=\"http://jama.jamanetwork.com/article.aspx?articleID=2429719\"
        />\n<rdf:li rdf:resource=\"http://jama.jamanetwork.com/article.aspx?articleID=2429717\"
        />\n<rdf:li rdf:resource=\"http://jama.jamanetwork.com/article.aspx?articleID=2429702\"
        />\n<rdf:li rdf:resource=\"http://jama.jamanetwork.com/article.aspx?articleID=2429693\"
        />\n<rdf:li rdf:resource=\"http:[...]
